<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link
	href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="estilos.css">
<link
	href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
	rel="stylesheet">
<title>EL PANAL - ALGARROBINA</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand font-weight-bold" href="/"> <img
			src="imagenes\abeja.png" width="40">EL PANAL
		</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/inicio">INICIO<span
						class="sr-only">(current)</span></a></li>
				<li class="nav-item"><a class="nav-link"
					href="vistaInformativa\nosotros.html">NOSOTROS</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> PRODUCTOS </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/miel">MIEL</a> <a
							class="dropdown-item" href="/algarrobina">ALGARROBINA</a> <a
							class="dropdown-item" href="/polen">POLEN</a>
					</div></li>
				<div class="btn-group dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> PEDIDOS </a>
					<form class="form-inline my-2 my-lg-0">
						<div
							class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
							<div>
								<label>Nombre:</label> <input type="text" name="txtNombre"
									class="text-center" placeholder="Ingrese Nombre">
							</div>
							<div>
								<label>Apellido:</label> <input type="text" name="txtApellido"
									class="text-center" placeholder="Ingrese Apellido">
							</div>
							<div>
								<label>Teléfono:</label> <input type="text" name="txtTelefono"
									class="text-center" placeholder="Ingrese Teléfono">
							</div>
							<div class="dropdown-divider"></div>
							<center>
								<button class="btn btn-outline-dark my-2 my-sm-0" type="submit"
									aria-setsize="">Realizar Pedido</button>
							</center>

							</label>
						</div>
					</form>
				</div>
			</ul>
		</div>
	</nav>
</body>
</html>