<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <title>EL PANAL - MIEL DE EUCALIPTO</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand font-weight-bold" href="index.html"> <img src="imagenes\abeja.png" width="40">EL PANAL</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">INICIO<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">NOSOTROS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        PRODUCTOS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">MIEL</a>
                        <a class="dropdown-item" href="#">ALGARROBINA</a>
                        <a class="dropdown-item" href="#">POLEN</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" aria-disabled="true">PEDIDOS</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="imagenes\unnamed.jpg" class="d-block w-100" height="625">
                <div class="carousel-caption d-none d-md-block text-ligth bg-dark">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="imagenes\unnamed.jpg" class="d-block w-100" height="625">
                <div class="carousel-caption d-none d-md-block text-ligth bg-dark">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="imagenes\unnamed.jpg" class="d-block w-100" height="625">
                <div class="carousel-caption d-none d-md-block text-ligth bg-dark">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container">
        <p>
            La miel:
            Obtención:
            Estas últimas obtienen la miel por el néctar de las flores y también por secreciones liberadas por las
            propias abejas.
            Beneficios:
            1. Potencial antibacteriano: Por ejemplo, uno de los potenciales antibacterianos de la miel puede ser
            importante para el tratamiento de acné y para exfoliar la piel.
            2. Fuente natural de antioxidantes: l consumo periódico de miel de abeja puede ser un complemento dietético
            importante en la prevención de enfermedades cardíacas, del sistema inmune y de procesos inflamatorios.
            3. Endulzador primario
            4. Contiene proteínas
            5. Potencial hidratante
            6. Tratamiento de heridas y quemaduras
            7. Alivia la tos y el dolor de garganta
            8. Actividad antiinflamatoria
        </p>
    </div>
</body>

</html>